* {
    background: transparent;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
    color: #ffffff;
    border: none;
}

tooltip {
  background: #21202e
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#waybar {
    transition: background-color 0.3s;
}

#mode, #cpu, #memory, #network, #battery, #tray, #pulseaudio, #custom-vpn, #bluetooth {
    padding: 0px 12px;
}
