/* Global styles */
* {
    background: transparent;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
    border: none;
}

tooltip {
  background: rgba(0, 0, 0, 0.3);
}

/* Bar styling */
#waybar {
    margin-top: 12px;
    color: #ffffff;
    transition: background-color 0.3s;
}

/* Other module styling */
#mode, #clock, #cpu, #memory, #network, #battery, #tray, #pulseaudio, #custom-vpn {
    padding: 0 16px;
}
