* {
    font-family: JetBrains Mono, sans-serif;
    font-size: 14px;
    color: #e0def4;
}

#window {
    background: rgba(25, 23, 36, 0.99);
    border-radius: 12px;
    margin: 10px;
}

#input {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
    border: none;
}

#input:focus {
    box-shadow: none;
}

#outer-box {
    padding: 5px;
}

#scroll {
    margin: 5px;
}

#entry {
    padding: 6px;
    border-radius: 6px;
}

#entry:selected {
    background: rgba(255, 255, 255, 0.02);
    outline: none;
}

#text {
    margin-left: 8px;
}

#img {
    margin-right: 8px;
}
